/* Notifications */
.notification {
    color: white;
    font-size: 20px;

    border-radius: 20px;

    padding: 30px;
    line-height: 1.1;
}

.notification.is-warning {
    background-color: #dbac5b;
}
.notification.is-success {
    background-color: #50ac75;
}

@media screen and (max-width: 1000px) {
    .notification {
        font-size: 40px;
        padding: 30px;
        
        line-height: 1.2;
    }
}