@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #1b1f3b;
    font-family: Poppins;

    padding-top: 3%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 3%;

    line-height: 100%;
}
h1, h2, h3 {
    color: #ffffff;
}
h1 {
    font-size: 35px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 25px;
}
p {
    font-size: 20px;
    color: #838ccf;
}
a {
    font-size: 20px;
    color: #673db6;
}

.value {
    font-family:monospace;
    color: rgb(221, 221, 221);
    line-height: 0;
}

.section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
    line-height: 0;
}
.section .item {
    flex-grow: 1;
    background-color:#673db6;
    padding: 10px;
    width: 40%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}
.section .item:hover {
    background-color:#7950c5;
}
.section .icon {
    padding: 5px;
}
.section .icon img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.section .text {
    padding: 10px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}
.section .text .item-name {
    color: white;
    font-size: 25px;
}
.section .controls {
    margin-inline-start: auto;
}
.button.delete {
    background-color: red;
    border: none;
    color: white;
    padding: 6px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Poppins;
    border-radius: 600px;
}
.button.delete:hover {
    background-color:rgb(255, 172, 172);
    color: red;
}
.button.add {
    background-color: green;
    border: none;
    color: white;
    padding: 6px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Poppins;
    border-radius: 600px;
}
.button.add:hover {
    background-color: lightgreen;
    color: green;
}
.button.set {
    background-color: rgb(73, 73, 255);
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Poppins;
    border-radius: 600px;
}
.button.set:hover {
    background-color: rgb(150, 144, 238);
    color: rgb(73, 73, 255);
}
/* Mobile css */
@media screen and (max-width: 1000px) {
    body {
        padding-top: 1%;
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 1%
    }

    h1 {
        font-size: 80px;
    }
    h2 {
        font-size: 75px;
    }
    h3 {
        font-size: 70px;
    }
    p {
        font-size: 50px;
    }
    a {
        font-size: 50px;
    }

    .section .item {
        width: 100%;
    }

    .section .icon img {
        width: 220px;
        height: 220px;
    }

    .section .text .item-name {
        font-size: 60px;
    }
}