<!DOCTYPE html>
<html>

    <head>
        <head>
            <title>Welcome to VideoPanel</title>
            <link rel="stylesheet" href="/css/style.css">
    
            <meta property="og:title" content="Welcome to VideoPanel" />
            <meta property="og:description" content="lots of access, files full">
            <meta property="og:image" content="https://cloud.oscie.net/assets/square.png">
        </head>
    </head>

    <body>
        <section class="hero is-fullheight">

            <div id="main-wrapper" class="hero-body">

                {% include 'sidebar.html' %}

                <div id="main" class="container is-widescreen has-left-left">
                    <div class="has-text-white">

                        <h1 class="title has-text-white">
                            {{ data['categories'][id]['name'] }}
                        </h1>

                        <br/>
                        
                        {% if data['content'][id]|length == 0 %}
                            <p>There are no videos in this category!</p>
                        {% else %}
                            <table class="table is-bordered">
                                <thead>
                                    <th>Filename</th>
                                    <th>Description</th>
                                    <th>Actions</th>
                                </thead>
                                <tbody>
                                    {% for video in data['content'][id] %}
                                        <tr>
                                            <td>{{ video['videofile'] }}</td>
                                            <td>{{ video['description'] }}</td>
                                            <td>
                                                <a href="/video/{{ video['videofile'] }}"><button class="button is-info">View</button></a>
                                                <a href="/video/{{ video['videofile'] }}/delete"><button class="button is-danger">Delete</button></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                        
                        <br/>

                        <a href="/panel/{{ id }}/add"><button class="button is-success">Upload video</button></a>
                    </div>
                </div>

            </div>

        </section>
    </body>
</html>