<!DOCTYPE html>
<html>

    <head>
        <head>
            <title>Welcome to VideoPanel</title>
            <link rel="stylesheet" href="/css/style.css">
    
            <meta property="og:title" content="Welcome to VideoPanel" />
            <meta property="og:description" content="lots of access, files full">
            <meta property="og:image" content="https://cloud.oscie.net/assets/square.png">
        </head>
    </head>

    <body>
        <section class="hero is-fullheight">

            <div id="main-wrapper" class="hero-body">

                {% include 'sidebar.html' %}

                <div id="main" class="container is-widescreen has-left-left">
                    <div class="has-text-white">

                        {% if announcements != None %}
                            {% if "category_created" in announcements %}
                                <div class="notification is-success">
                                    Category has been created!
                                </div>
                            {% endif %}
                            {% if "category_deleted" in announcements %}
                            <div class="notification is-success">
                                Category has been deleted!
                            </div>
                            {% endif %}
                            {% if "category_exists" in announcements %}
                            <div class="notification is-warning">
                                Category already exists!
                            </div>
                            {% endif %}
                            {% if "category_doesnt_exist" in announcements %}
                            <div class="notification is-warning">
                                Category doesn't exist!
                            </div>
                            {% endif %}
                            {% if "category_not_empty" in announcements %}
                            <div class="notification is-warning">
                                Category is not empty! Delete the contents first before attempting to delete the category.
                            </div>
                            {% endif %}
                            {% if "video_exists" in announcements %}
                            <div class="notification is-warning">
                                Video already exists!
                            </div>
                            {% endif %}
                            <br/>
                        {% endif %}

                        <h1 class="title has-text-white">
                            Welcome to VideoPanel
                        </h1>

                        {% if data['categories']|length == 0 %}
                            <p>There are no categories! Create a category to get started.</p>
                        {% else %}
                            <p>Select a category to get started:</p>

                            <br/>
                            
                            <table class="table is-bordered">
                                <thead>
                                    <th>Category ID</th>
                                    <th>Name</th>
                                    <th>Actions</th>
                                </thead>
                                <tbody>
                                    {% for category in data['categories'] %}
                                        <tr>
                                            <td>{{ category }}</td>
                                            <td>{{ data['categories'][category]['name'] }}</td>
                                            <td>
                                                <a href="/panel/{{ category }}"><button class="button is-info">List contents</button></a>
                                                <a href="/panel/{{ category }}/delete"><button class="button is-danger">Delete</button></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}

                        <br/>

                        <a href="/panel/create"><button class="button is-success">Create category</button></a>

                        <br/><br/>

                        <div class="notification is-success is-light">
                            <h2 class="subtitle">To do list:</h2>
                            <ul>
                                <li>・Move from JSON to a Database.</li>
                                <li>・Create login system (move from IPs).</li>
                                <li>・Remove hardcoded configuration.</li>
                                <li>・Fix directory/WSGI annoying stuff.</li>
                                <li>・Stop UI from being pushed to left.</li>
                                <li>・Enable HTTPS (certbot?).</li>
                                <li>・Open source the project!</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </section>
    </body>
</html>
                