<div id="main" class="container is-widescreen sidebar has-text-left">

    <div id="logo-window" class="hero-body has-shading">
        <a href="/panel"><img src="https://cloud.oscie.net/square.png" alt="oscie" style="width: 200px; min-width: 10px; vertical-align: middle;"></a>
    </div>
    <div class="" style="min-width: 400px; max-width: 600px">
        <div class="block">
            <h1 class="title is-4"><a href="/panel" class="has-text-white link"><span class="mdi mdi-home"></span> Panel Root</a></p>
            <h1 class="title is-4"><a href="https://oscie.net" class="has-text-white link"><span class="mdi mdi-home"></span> Main Site</a></p>
        </div>
        <div class="block">
            <h2 class="title is-5"><a href="https://oscie.net/support" class="has-text-white link"><span class="mdi mdi-currency-usd"></span> Support Me</a></p>
        </div>

        <p class="subtitle is-6" class="has-text-white link">
            <span class="mdi mdi-pencil-ruler"></span> Design inspired by <a href="https://wicy.cool/">Wicycool</a></span>.
            <br>
            <span class="mdi mdi-github"></span> See the <a href="https://github.com/oscie57/oscie57.github.io/blob/video">source code on GitHub</a>.
            <br>
            <span class="mdi mdi-clipboard-check"></span> View the <a href="https://github.com/oscie57/oscie57.github.io/projects/1">GitHub Project</a>.
        </p>
    </div>
</div>