<!DOCTYPE html>
<html>

    <head>
        <head>
            <title>Welcome to VideoPanel</title>
            <link rel="stylesheet" href="/css/style.css">
    
            <meta property="og:title" content="Welcome to VideoPanel!" />
            <meta property="og:description" content="lack of access, files empty">
            <meta property="og:image" content="https://cloud.oscie.net/assets/square.png">
        </head>
    </head>

    <body>
        <section class="hero is-fullheight">

            <div id="main-wrapper" class="hero-body">

                {% include 'sidebar.html' %}

                <div id="main" class="container is-widescreen has-left-left">
                    <div class="has-text-white">

                        {% if announcements != None %}
                            {% if "category_created" in announcements %}
                                <div class="notification is-success">
                                    Category has been created!
                                </div>
                            {% endif %}
                            {% if "category_deleted" in announcements %}
                            <div class="notification is-success">
                                Category has been deleted!
                            </div>
                            {% endif %}
                            {% if "category_exists" in announcements %}
                            <div class="notification is-warning">
                                Category already exists!
                            </div>
                            {% endif %}
                            {% if "category_doesnt_exist" in announcements %}
                            <div class="notification is-warning">
                                Category doesn't exist!
                            </div>
                            {% endif %}
                            {% if "category_not_empty" in announcements %}
                            <div class="notification is-warning">
                                Category is not empty! Delete the contents first before attempting to delete the category.
                            </div>
                            {% endif %}
                            {% if "video_exists" in announcements %}
                            <div class="notification is-warning">
                                Video already exists!
                            </div>
                            {% endif %}
                            <br/>
                        {% endif %}

                        <h1 class="title has-text-white">
                            Welcome to VideoPanel!
                        </h1>

                        <p>If you're seeing this, you do not have permission to access this instance of VideoPanel!</p>

                        <br>

                        <h2 class="subtitle">What does this mean?</h2>

                        <p>To put it simple, you don't have access to the web panel. You can still view contents if you have direct links!</p>
                        <br>
                        <p>If you feel like this is a mistake, which it could be, feel free to contact the webmaster at <a href="mailto:{{ webmaster }}">{{ webmaster }}</a>.</p>

                        <br>

                        <h2 class="subtitle">What is this?</h2>

                        <p>VideoPanel is a private video host that anyone can host an instance of.It was created by <a href="https://oscie.net">oscie</a>, in order to have a place to upload videos without worrying about other people seeing it unless absolute necessary.</p>
                        <br>
                        <p>If you're seeing this and you had a direct link to a video, then there might be something wrong. If this is so, contact your webmaster at <a href="mailto:{{ webmaster }}">{{ webmaster }}</a>.</p>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
