{
    "expenditure": {
    },

    "income": {
    },

    "subscriptions": {
    },

    "savings": {
        "title": "Savings Title",
        "min": "50.00",
        "max": "100.00",
        "currency": "£",
        "standalone": true
    }
}