<!DOCTYPE html>
<html>

    <head>
        <head>
            <title>Silly Finance Manager</title>
            <link rel="stylesheet" href="/css/style.css">
            <link rel="stylesheet" href="/css/notifications.css">
    
            <meta property="og:title" content="Silly Finance Manager" />
            <meta property="og:description" content="Lots of money, pockets full!">
            <meta property="og:image" content="https://cloud.oscie.net/assets/square.png">
        </head>
    </head>

    <body>
        <section class="hero is-fullheight">

            <div id="main-wrapper" class="hero-body">

                <div id="main" class="container is-widescreen has-left-left">
                    <div class="has-text-white">

                        {% include 'includes/announcements.html' %}

                        {% include 'manager_content.html' %}

                    </div>
                </div>

            </div>

        </section>
    </body>
</html>
                